@model Library.Models.LendingViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="details">
    <h2>Lend volume with id @Model.VolID.</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="VolID" value="@Model.VolID" class="form-control" type="hidden" />
                    <span asp-validation-for="VolID" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="GuestID" value="@Model.GuestID" class="form-control" type="hidden" />
                    <span asp-validation-for="GuestID" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StartDay" class="control-label"></label>
                    <input asp-for="StartDay" value="@Model.StartDay" class="form-control" />
                    <span asp-validation-for="StartDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDay" class="control-label"></label>
                    <input asp-for="EndDay" value="@Model.EndDay" class="form-control" />
                    <span asp-validation-for="EndDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lend" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
 </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
