<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdventureGameEditor</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="@Url.Content("~/css/site.css")"
          rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div id="title">
        <h1 id="titleText">Antrum</h1>
        <h2 id="slogan"> A kalandjátékbarlang.</h2>
        </div>
        <div  id="header">
            <div >
                <ul >
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Kezdőlap</a>
                    </li>
                    <li >
                        <a  asp-area="" asp-controller="Home" asp-action="Help">Súgó</a>
                    </li>
                    @if (ViewBag.CurrentGuestName == null)
                    {
                        <li >
                            <a  asp-area="" asp-controller="Users" asp-action="Register">Regisztráció</a>
                        </li>
                        <li >
                            <a asp-area="" asp-controller="Users" asp-action="Login">Bejelentkezés</a>
                        </li>
                    }
                    else
                    {
                        <li >
                            <a  asp-area="" asp-controller="" asp-action="">@ViewBag.CurrentGuestName</a>
                        </li>
                        <li >
                            <a  asp-area="" asp-controller="Users" asp-action="Logout">Kijelentkezés</a>
                        </li>
                        <li >
                            <a asp-area="" asp-controller="GameEditor" asp-action="CreateGame">Játék létrehozása</a>
                        </li>
                    }

                    <li >
                        <a  asp-area="" asp-controller="GameViewer" asp-action="Index">Játékok listázása</a>
                    </li>


                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AdventureGameEditor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
