@model IEnumerable<AdventureGameEditor.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Játékok</h1>
<head>
    <script type="text/javascript" src="@Url.Content("/js/site.js")"></script>
</head>

<div class="ErorrMessages"> @if (ViewBag.CurrentGuestName == null) 
    {
        <p>Be kell jelentkezned ahhoz, hogy játszhass, vagy játékot szerkeszthess!</p>
    }
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImage)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayCounter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableSize)
            </td>
            <td>
                @if (item.CoverImage == null)
                {
                    <p>Nincs kép.</p>
                }
                else
                {
                    <img src="@Url.Action("RenderCoverImage", new { imageID = item.CoverImage.ID })" class="contentImage" height=100 />
                }
            </td>
            <td>
                @if (ViewBag.CurrentGuestName != null)
                {
                    <a asp-controller="Gameplay" asp-action="GetPrelude" asp-route-gameTitle="@item.Title">Játék</a>
                    <p>Játék szerkesztése</p>
                }
                Játék részleteinek megjelenítése
            </td>
        </tr>
}
    </tbody>
</table>
