@model IEnumerable<AdventureGameEditor.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableSize)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayCounter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableSize)
            </td>
        </tr>
}
    </tbody>
</table>
