@model AdventureGameEditor.Models.GameplayFieldViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p> Sorszám: @Model.RowNumber</p>
<p>Oszlopszám: @Model.ColNumber</p>

<div id="directionButtons">
    @if(Model.Trial == null || Model.IsVisited)
    {
        await Html.RenderPartialAsync("DirectionButtonsPartialView", new DirectionButtonsViewModel()
        {
            GameTitle = Model.GameTitle,
            RowNumber = Model.RowNumber,
            ColNumber = Model.ColNumber,
            GameLost = false,
            GameWon = Model.IsGameOver,
            IsDownWay = Model.IsDownWay,
            IsLeftWay = Model.IsLeftWay,
            IsRightWay = Model.IsRightWay,
            IsUpWay = Model.IsUpWay
        });
    }
</div>

<div>
    <p> @Model.Text </p>
</div>
<div id="choseTrialForm">
    @if (Model.Trial != null && Model.IsVisited == false)
    {
    <form method="post" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label><input value="0" type="radio" checked="checked" asp-for="Trial.Alternatives[0].Text" id="trial" name="trial">@Model.Trial.Alternatives[0].Text</label>
        </div>
        @for (int i = 1; i < Model.Trial.Alternatives.Count; ++i)
        {
            <div class="form-group">
                <label><input value="@i" type="radio" asp-for="Trial.Alternatives[i].Text" id="trial" name="trial">@Model.Trial.Alternatives[i].Text</label>
            </div>
        }
    </form>
        <div class="form-group">
            <button class="btn btn-primary" onclick="ChoseTrialAlternative('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber')">Választ</button>
        </div>
    }
</div>

