@model AdventureGameEditor.Models.GameplayField
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p> Sorszám: @Model.RowNumber</p>
<p>Oszlopszám: @Model.ColNumber</p>

<div>
    <p> @Model.Text </p>
</div>
<div id="choseTrialForm">
    @if (Model.Trial != null && Model.IsVisited == false)
    {
    <form method="post" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label><input value="0" type="radio" checked="checked" asp-for="Trial.Alternatives[0].Text" id="trial" name="trial">@Model.Trial.Alternatives[0].Text</label>
        </div>
        @for (int i = 1; i < Model.Trial.Alternatives.Count; ++i)
        {
            <div class="form-group">
                <label><input value="@i" type="radio" asp-for="Trial.Alternatives[i].Text" id="trial" name="trial">@Model.Trial.Alternatives[i].Text</label>
            </div>
        }
    </form>
        <div class="form-group">
            <button class="btn btn-primary" onclick="ChoseTrialAlternative('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber')">Választ</button>
        </div>
    }
</div>

<div>
    <table>
        <tr>
            <td></td>
            <td>
                @if (!Model.IsUpWay)
                    {
                        <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Up' )" disabled="disabled">Fel</button>
                    }
                    else
                    {
                        <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Up' )">Fel</button>
                    }
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @if (!Model.IsLeftWay)
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Left' )" disabled="disabled">Balra</button>
                }
                else
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Left' )" >Balra</button>
                }
            </td>
            <td></td>
            <td>
                @if (!Model.IsRightWay)
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Right' )" disabled="disabled">Jobbra</button>
                }
                else
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Right' )" >Jobbra</button>
                }
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @if (!Model.IsDownWay)
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Down' )" disabled="disabled">Le</button>
                }
                else
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Down' )" >Le</button>
                }
            </td>
            <td></td>
        </tr>
    </table>
</div>