@model AdventureGameEditor.Models.ViewModels.Gameplay.GameplayMapViewModel
@{
    ViewData["Title"] = "Térkép";
}



<table  border="1" frame="box" rules="all">
    @foreach (List<AdventureGameEditor.Models.ViewModels.Gameplay.GameplayFieldViewModel> row in Model.GameplayMap)
    {
        <tr>
            @foreach (AdventureGameEditor.Models.ViewModels.Gameplay.GameplayFieldViewModel field in row)
            {
                <td style="height:100px;width:100px">
                    @*<button type="button" onclick=" @Model.FunctionName ('@Model.GameTitle', '@field.RowNumber', '@field.ColNumber');">*@
                        @*<div id="@field.RowNumber@field.ColNumber">*@
                            @{
                                await Html.RenderPartialAsync("GameplayFieldPartialView", field);
                            }
                        @*</div>
                    </button>*@
                </td>
            }
        </tr>
    }
</table>

<script type="text/javascript" src="@Url.Content("/js/site.js")"></script>
