@model AdventureGameEditor.Models.GameplayField
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p> Sorszám: @Model.RowNumber</p>
<p>Oszlopszám: @Model.ColNumber</p>

<div>
    <p> @Model.Text </p>
</div>
<div>
    @if (Model.Trial != null)
    {
    <form method="post" id="choseTrialForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <input type="hidden" asp-for="GameTitle" class="form-control" value="@Model.GameTitle" />
        </div>

        <div class="form-group">
            <input type="hidden" asp-for="ColNumber" class="form-control" value="@Model.ColNumber" />
        </div>

        <div class="form-group">
            <input type="hidden" asp-for="RowNumber" class="form-control" value="@Model.RowNumber" />
        </div>

        @for(int i = 0; i < Model.Trial.Alternatives.Count; ++i)
        {
        <div class="form-group">
            <input type="radio" asp-for="Trial.Alternatives[i].Text" value="@Model.Trial.Alternatives[i].Text" />@Model.Trial.Alternatives[i].Text <br />
        </div>
        }
        <div class="form-group">

            <button class="btn btn-primary" onclick="ChoseTrialAlternative('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber')">Választ</button>
        </div>
    </form>
        
    }
</div>

<div>
    <table>
        <tr>
            <td></td>
            <td>
                @if (!Model.IsUpWay)
                    {
                        <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Up' )" disabled="disabled">Fel</button>
                    }
                    else
                    {
                        <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Up' )">Fel</button>
                    }
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @if (!Model.IsLeftWay)
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Left' )" disabled="disabled">Balra</button>
                }
                else
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Left' )" >Balra</button>
                }
            </td>
            <td></td>
            <td>
                @if (!Model.IsRightWay)
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Right' )" disabled="disabled">Jobbra</button>
                }
                else
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Right' )" >Jobbra</button>
                }
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @if (!Model.IsDownWay)
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Down' )" disabled="disabled">Le</button>
                }
                else
                {
                    <button onclick="Step('@Model.GameTitle', '@Model.RowNumber', '@Model.ColNumber', 'Down' )" >Le</button>
                }
            </td>
            <td></td>
        </tr>
    </table>
</div>