@model AdventureGameEditor.Models.MapPieceViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p>Sorszám: @Model.Field.RowNumber</p>
<p>Oszlopszám: @Model.Field.ColNumber</p>

<button type="button" onclick=" LoadFormForAddFieldContent ('@Model.GameTitle', '@Model.Field.RowNumber', '@Model.Field.ColNumber');"> Tartalom hozzáadása </button>
<button type="button" onclick=" LoadFormForAddFieldTrial ('@Model.GameTitle', '@Model.Field.RowNumber', '@Model.Field.ColNumber');"> Próba hozzáadása </button>
<button type="button" onclick=" LoadFieldDetails ('@Model.GameTitle', '@Model.Field.RowNumber', '@Model.Field.ColNumber');"> Tartalom megjelenítése </button>