@model AdventureGameEditor.Models.MapPieceViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h6>A kiválasztott mező indexe (sorszám, oszlopszám): @Model.Field.RowNumber, @Model.Field.ColNumber</h6>

<button type="button" onclick=" LoadFormForAddFieldContent ('@Model.GameTitle', '@Model.Field.RowNumber', '@Model.Field.ColNumber');"> Tartalom hozzáadása </button>
<button type="button" onclick=" LoadFormForAddFieldTrial ('@Model.GameTitle', '@Model.Field.RowNumber', '@Model.Field.ColNumber');"> Próba hozzáadása </button>
<button type="button" onclick=" LoadFieldDetails ('@Model.GameTitle', '@Model.Field.RowNumber', '@Model.Field.ColNumber');"> Tartalom megjelenítése </button>