@model AdventureGameEditor.Models.CheckGameViewModel


<html>
    <head>
        <script type="text/javascript" src="@Url.Content("/js/site.js")"></script>
        <meta name="viewport" content="width=device-width" />
        <title>Játék validálása</title>
    </head>

    <body>
        <div class="menu">
            @{ await Html.RenderPartialAsync("GameEditorMenuPartialView", new GameEditorMenuViewModel() { GameTitle = Model.GameTitle });}
        </div>

        <div>
            <h4>A játék validációjának eredménye</h4>

            @if(Model.IsMapValid && Model.IsStartFieldSet && Model.IsTargetFieldSet && Model.IsPreludeFilled
             && Model.IsGameLostFilled && Model.IsGameLostFilled && Model.IsSolutionExists)
            {
                <h5>Gratulálunk, az általad szerkesztett játék már játszható!</h5>
            }
            else
            {
                <h5> Sajnos az általad készített játék még nem felel meg a követelményeknek, ezért még nem játszható.</h5>
            }

            <hr />
            <dl class="row">


                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsMapValid)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.IsMapValid)
                    {<img src="~/pictures/pipe.png" height="100" />}
                    else
                    { <img src="~/pictures/cross.png" height="100" />}
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsStartFieldSet)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.IsStartFieldSet)
                    {<img src="~/pictures/pipe.png" height="100" />}
                    else
                    { <img src="~/pictures/cross.png" height="100" />}
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsTargetFieldSet)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.IsTargetFieldSet)
                    {<img src="~/pictures/pipe.png" height="100" />}
                    else
                    { <img src="~/pictures/cross.png" height="100" />}
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsPreludeFilled)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.IsPreludeFilled)
                    {<img src="~/pictures/pipe.png" height="100" />}
                    else
                    { <img src="~/pictures/cross.png" height="100" />}
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsGameWonFilled)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.IsGameWonFilled)
                    {<img src="~/pictures/pipe.png" height="100" />}
                    else
                    { <img src="~/pictures/cross.png" height="100" />}
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsGameLostFilled)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.IsGameLostFilled)
                    {<img src="~/pictures/pipe.png" height="100" />}
                    else
                    { <img src="~/pictures/cross.png" height="100" />}
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsSolutionExists)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.IsSolutionExists)
                    {<img src="~/pictures/pipe.png" height="100" />}
                    else
                    { <img src="~/pictures/cross.png" height="100" />}
                </dd>

                @if (Model.IsSolutionExists)
                {
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PathLenght)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PathLenght)
                    </dd>
                }

            </dl>
        </div>
    </body>

</html>