@model AdventureGameEditor.Models.MapContentViewModel

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="@Url.Content("/js/site.js")"></script>
    <meta name="viewport" content="width=device-width" />
    <title>CreateMapContent</title>
</head>
<body>

    <h1> @Model.GameTitle c. játék </h1>
    <h2>@Model.Action</h2>
    @{await Html.RenderPartialAsync("Map", new LoadMapViewModel
        {
            MapSize = Model.MapSize,
            GameTitle = Model.GameTitle,
            Map = Model.Map,
            FunctionName = Model.FunctionName
        });}
    <div id="ButtonsPlace">

        @if (Model.IsFieldSelected == true)
        {
            await Html.RenderPartialAsync("ButtonsForAddFieldContentPartialView", new MapPieceViewModel()
            {
                GameTitle = Model.GameTitle,
                Field = Model.SelectedField
            }
            );
        }
    </div>
    <div id="InputArea"> </div>

    <div id="fieldDetails"></div>

    <a asp-controller="GameEditor" asp-action="@Model.NextControllerAction" asp-route-gameTitle="@Model.GameTitle">Tovább</a>
</body>


</html>
