@model AdventureGameEditor.Models.ViewModels.GameEditor.FieldDetailsViewModel

    <div>
        <h3>A kiválasztott mező adatai</h3>

        @*Field informations.*@
        <table>

            <tr>
                <th>A mező indexei (sor, oszlop)</th>
                <td>
                    @Html.DisplayFor(model => model.ColNumber),
                    @Html.DisplayFor(model => model.RowNumber)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TextContent)
                </th>
                <td>
                    @if (Model.TextContent == null || Model.TextContent.Length <= 0)
                    {
                        <p>A mező nem rendelkezik szöveggel.</p>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.TextContent)
                    }
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PictureID)
                </th>
                <td>
                    @if (Model.PictureID < 0)
                    {
                        <p>A mező nem rendelkezik képpel.</p>
                    }
                    else
                    {
                        <img src="@Url.Action("RenderFieldImage", new { imageID = Model.PictureID })" class="contentImage" height=100 />
                    }
                </td>
            </tr>
        </table>

        <h4>Próba</h4>

        @if (!Model.IsTrial)
        {
            <p>Nincs próba.</p>
        }
        else
        {
            <h5>Szövege</h5>
            <table>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.TrialText)
                    </td>
                </tr>
            </table>
            

            <h5>Alternatívái</h5>
            @for (int i = 1; i <= Model.AlternativeTexts.Count; ++i)
            {
                <h6> @i . alternatíva  </h6>
                <table>
                    <tr>
                        <th>
                            szövege
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.AlternativeTexts[i-1])
                        </td>
                    </tr>

                    <tr>
                        <th>
                            eredményének szövege
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TrialResults[i-1].Text)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            típusa
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TrialResults[i-1].ResultType)
                        </td>
                    </tr>
                </table>
            }
        }

    </div>
        