@model AdventureGameEditor.Models.ViewModels.GameEditor.FieldTrialContentViewModel

<form asp-action="SetTrialForField">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div >
        <input type="hidden" asp-for="GameTitle" class="form-control" value="@Model.GameTitle" />
    </div>

    <div>
        <input type="hidden" asp-for="ColNumber" class="form-control" value="@Model.ColNumber" />
    </div>

    <div >
        <input type="hidden" asp-for="RowNumber" class="form-control" value="@Model.RowNumber" />
    </div>

    @* Now, only one type of trial available.*@
    <div >
        <label hidden="hidden" asp-for="TrialType" class="control-label"></label>
        <p>
            <select hidden="hidden" asp-for="TrialType" asp-items="Html.GetEnumSelectList<TrialType>()"></select>
        </p>
        <span hidden="hidden" asp-validation-for="TrialType" class="text-danger"></span>
    </div>

    <div >
        <label  asp-for="Text" class="control-label"></label>
        <p>
            <textarea asp-for="Text" class="form-control"> @Model.Text</textarea>
        </p>
        <span  asp-validation-for="Text" class="text-danger"></span>
    </div>

    <h5>A próba kimenetelének alternatívái:</h5>

    @for (int i = 1; i <= Model.AlternativeTexts.Count; ++i)
    {
        String id = "alternative" + @i;
        <div id="@id">
            <h6> @i . alternatíva</h6>
            <div >
                <label class="control-label">Szövege </label>
                <textarea asp-for="AlternativeTexts[i-1]" class="form-control">@Model.AlternativeTexts[i-1]</textarea>
                <span asp-validation-for="AlternativeTexts[i-1]" class="text-danger"></span>
            </div>
            <div>
                <label  class="control-label">Eredménye </label>
                <p>
                    <select asp-for="TrialResults[i-1].ResultType" asp-items="Html.GetEnumSelectList<ResultType>()"></select>
                </p>
                <span asp-validation-for="TrialResults[i-1].ResultType" class="text-danger"></span>
            </div>
            <div >
                <label  class="control-label">Eredmény szövege</label>
                <textarea asp-for="TrialResults[i-1].Text" class="form-control">@Model.TrialResults[i - 1].Text</textarea>
                <span asp-validation-for="TrialResults[i-1].Text" class="text-danger"></span>
            </div>
        </div>
    }

    <div>
        <input id="SaveFieldContent" type="submit" value="Mentés" class="btn btn-default" />
    </div>
</form>
