@model AdventureGameEditor.Models.GameEditorMenuViewModel



    <h6>Menü</h6>
    <ul>
        <li> <a asp-controller="GameEditor" asp-action="CreateMap" asp-route-gameTitle="@Model.GameTitle">Térkép szerkesztése</a></li>
        <li> <a asp-controller="GameEditor" asp-action="CreateMapContent" asp-route-gameTitle="@Model.GameTitle">Térképmezők tartalmának szerkesztése</a></li>
        <li> <a asp-controller="GameEditor" asp-action="CreateMapStartField" asp-route-gameTitle="@Model.GameTitle">Start mező beállítása</a></li>
        <li> <a asp-controller="GameEditor" asp-action="CreateMapTargetField" asp-route-gameTitle="@Model.GameTitle">Célmező beállítása</a></li>
        <li> <a asp-controller="GameEditor" asp-action="CreateGameResult" asp-route-gameTitle="@Model.GameTitle">Bevezetés és játékeredmények szerkesztése</a></li>
        <li> <a asp-controller="GameEditor" asp-action="GetGameDetailsPartialView" asp-route-gameTitle="@Model.GameTitle">Játék adatainak megjelenítése</a></li>
        <li> <a asp-controller="GameEditor" asp-action="CheckGame" asp-route-gameTitle="@Model.GameTitle">Játék késznek nyilvánítása</a></li>
        <li> <a asp-controller="GameEditor" asp-action="EnsureDelteGame" asp-route-gameTitle="@Model.GameTitle">Játék törlése</a></li>
    </ul>
