@model AdventureGameEditor.Models.LoadMapViewModel
@{
    ViewData["Title"] = "Map";
}


<table border="1" frame="box" rules="all">
    @foreach (MapRow row in Model.Map)
    {
        <tr>
            @foreach (Field field in row.Row)
            {
                <td style="height:100px;width:100px" >
                    <button type="button"  onclick=" @Model.FunctionName ('@Model.GameTitle', '@field.HorizontalCord', '@field.VerticalCord');">
                        <div id="@field.HorizontalCord@field.VerticalCord">
                            @{
                                await Html.RenderPartialAsync("MapPiecePartialView",
                                new MapPieceViewModel
                                {
                                    GameTitle = Model.GameTitle,
                                    Field = field
                                });
                            }
                         </div>
                    </button>
                </td>
            }
        </tr>
    }
</table>

<script type="text/javascript" src="@Url.Content("/js/site.js")"></script>





